* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow:hidden; */
}

.heading {
  font-size: 27px;
}

.heading-div {
  position: relative;
  width: 350px;
  text-align: center;
  margin: auto;
}

.h-heading {
  font-size: 50px;
}

.heading::before {
  content: " ";
  height: 2px;
  width: 40px;
  background-color: red;
  position: absolute;
  right: 90px;
  margin-top: 20px;
}
.heading::after {
  content: " ";
  height: 2px;
  width: 40px;
  background-color: red;
  position: absolute;
  left: 90px;
  margin-top: 20px;
}

.b-hover:hover {
  background-color: #24315e;
  color: white;
}

/* wrapper section starts here */

.wrapper {
  height: 100vh;
  background-image: url("./img/mainbg.jpg");
}

.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  padding: 35px;
  z-index: 10;
  border-bottom: 2px solid #24315e;
  background-color: white;
}

.navbar ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #24315e;
}

.navbar button {
  padding: 15px;
  background-color: #24315e;
  color: white;
  font-size: 15px;
  width: 150px;
}

.para {
  font-size: 40px;
  margin-bottom: 34px;
  color: #24315e;
}
/* nav main div starts here  */

.main-div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.social{
  width: 200px;
  position: absolute;
  bottom: 30px;
  right: 100px;
  z-index: 8;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.social i{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.name {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 100px;
}

.name-div{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content:flex-end ;
}

.hii {
  font-size: 50px;
  color: #24315e;
  /* font-weight: 600; */
}

.name h1 {
  font-size: 50px;
  color: #24315e;
}

.paragraph {
  margin-top: 30px;
  width: 500px;
  font-size: 30px;
}

.btn-main {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-main button {
  width: 150px;
  padding: 20px;
  background-color: white;
  color: #24315e;
  font-size: 15px;
}

.btn-main a {
  font-size: 25px;
}

/* clintes section starts here */

.clintes {
  width: 100%;
  color: white;
  background-color: #24315e;
  text-align: center;
  padding: 50px;
}

/* hello section starts here */

.hello {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* qualities section starts here */

.qualities {
  width: 1150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: #24315e;
  margin: 70px 0px 70px 0px;
}

.quality {
  width: 300px;
  padding: 30px;
}

.quality p {
}

.q-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

/* my skills section starts here  */

.my-skills {
  width: 1150px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-around;
  margin-bottom: 50px;
}

.m-skills-image {
  height: 350px;
  width: 550px;
  background-image: url("./img/1.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px;
}

.m-skills-image div {
  height: 50px;
  width: 130px;
  background-color: white;
  border: 2px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para-div {
  width: 562px;
}

.para-div * {
  margin-bottom: 30px;
}

.para-div p {
  width: 400px;
}

.statistics {
  width: 1150px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  font-size: 30px;
  margin-bottom: 40px;
}

.s-1 {
  display: flex;
}

/* about me section starts here  */

#about {
  background-image: url("./img/background.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.a-1 {
  width: 500px;
  position: relative;
  display: flex;
  justify-content: center;
}

.a-1 div {
  width: 250px;
  display: flex;
  align-items: center;
  font-size: 30px;
  position: absolute;
  top: 70%;
  left: 10%;
  background-color: white;
  padding: 2%;
  z-index: 3;
}

.element {
  position: absolute;
  top: 10px;
  left: -50px;
  z-index: 1;
}

.photo {
  position: relative;
  z-index: 2;
}

.a-2 {
  width: 50%;
}

.element2 {
  position: absolute;
  bottom: -70px;
  right: -50px;
  z-index: -1;
}

.hire-me {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  padding: 80px;
  position: relative;
  z-index: 2;
}

.hire-me h1 {
  font-size: 50px;
}

.hire-me p {
  font-size: 20px;
}

.hire-me button {
  width: 200px;
  padding: 20px;
  background-color: white;
  color: #24315e;
  font-size: 20px;
}

/* teammates section starts here */

.teammates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.teammates img {
  width: 400px;
}

.teammates-para {
  width: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-left: 50px;
}

.teammates-para p {
  width: 100%;
}

/* portfolio section starts here */

.portfolio {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.project {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 30px;
}

.project1 {
  height: 350px;
  width: 640px;
  position: relative;
}

.project1 div,
.project2 div {
  display: none;
}

.project1:hover div,
.project2:hover div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 100%;
  background-color: darkorchid;
  position: absolute;
  bottom: 15px;
  color: white;
  font-weight: 900;
}

.p-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: red;
  position: absolute;
  bottom: 3px;
}

.project1 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.project2 {
  height: 336.33px;
  width: 420px;
  position: relative;
}

.project2 img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/* faq section starts here */

.faq {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-heading {
  text-align: center;
  font-size: 30px;
  padding: 50px;
}

.faq-div {
  color: white;
  height: 90px;
  width: 100%;
  background-color: #24315e;
  padding: 20px;
  margin-bottom: 30px;
}

.freelancing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  height: 320px;
  background-image: url("./img/mainbg.jpg");
  margin-bottom: 50px;
  margin-top: 50px;
}

.freelancing button {
  width: 300px;
  padding: 20px;
  background-color: white;
  color: #24315e;
  font-size: 20px;
}

/* blog section starts here */

#news {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
}

.header {
  width: 1150px;
  height: auto;
}

.cards {
  width: 1150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 350px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.p-paragraph {
  font-size: 25px;
  color: #24315e;
  text-align: justify;
  margin-bottom: 20px;
}

.datetime h4 {
  margin-top: 10px;
  color: rgb(35, 34, 34);
  font-size: 20px;
}

.images {
  height: auto;
  border: 2px solid rgb(28, 27, 27);
  border-radius: 100px;
}

.images img {
  height: 100%;
  width: 100%;
  border-radius: 100px;
}

/* contect section starts here */

#contect {
  display: flex;
  flex-wrap: wrap;
  background-image: url("./img/background\ \(1\).jpg");
  padding: 50px;
  margin-top: 50px;
}

.c-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  row-gap: 50px;
  color: white;
  padding-left: 90px;
}

.c-1-call{
  font-size: 22px;
}

.c-1-call h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

form {
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  row-gap: 10px;
}

form input {
  padding: 20px;
  border: 2px solid #24315e;
}

form button {
  padding: 15px;
  border: 2px solid #24315e;
  background-color: aqua;
  color: #24315e;
}

textarea {
  resize: none;
  border: 2px solid #24315e;
}

.c-2-div {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c-2-div i {
  height: 40px;
  width: 40px;
  background-color: #24315e;
  border-radius: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* footer section starts here */

footer {
  height: 100px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.155);
}

/* responsive disign  */

@media screen and (max-width: 768px) and (min-width: 500px) {

  /* navbar section starts here  */
  .wrapper {
    width: 100%;
    height: auto;
  }

  .navbar {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
  }

  .navbar img,
  .label1 {
    /* width: 200px; */
  }

  .navbar ul {
    display: none;
  }

  .navbar button {
    display: none;
  }

  #input1:checked ~ ul {
    display: block;
  }

  .label1 {
    display: block;
  }

  .name {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }

  .paragraph {
    width: 100%;
  }

  .header {
    width: 100%;
  }
  /* nav main div starts here  */

  .main-div {
    width: 100%;
  }

  .main-image {
    width: 40%;
  }

  .image {
    width: 200px;
    height: 200px;
  }

  .quality {
    width: 320px;
  }

  .a-2,
  .hire-me {
    width: 100%;
  }

  /* hello section starts here  */

  .hello {
    width: 100%;
  }

  .statistics {
    width: 1150px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 20px;
    margin-bottom: 40px;
  }

  /* .teammates section starts here  */

  .teammates-para {
    margin-top: 20px;
    padding: 20px;
  }

  .project * {
    width: 100%;
    height: auto;
  }

  .faq {
    width: 100%;
  }

  .freelancing {
    width: 100%;
  }

  #news {
    width: 100%;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
  }

  .cards {
    width: 80%;
    row-gap: 50px;
  }

  .c-1,
  .c-2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .c-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 50px;
    color: white;
    padding-left: 90px;
  }

  .my-skills {
    width: 100%;
  }

  .statistics {
    width: 100%;
  }

  .c-1-call{
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .quality {
    width: 100%;
  }

  .my-skills {
    width: 100%;
  }

  .m-skills-image {
    height: 350px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 10px; */
    /* padding: 80px; */
  }

  .m-skills-image div {
    height: 50px;
    width: 100px;
    background-color: white;
    border: 2px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    width: 100%;
    height: auto;
  }

  .navbar {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    border-bottom: #24315e;
  }

  .navbar img,
  .label1 {
    width: 200px;
  }

  .navbar ul {
    display: none;
  }

  .navbar button {
    display: none;
  }

  #input1:checked ~ ul {
    display: block;
  }

  .label1 {
    display: block;
  }

  /* nav main div starts here  */

  .name {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
  }

  .paragraph {
    width: 100%;
  }

  .header {
    width: 100%;
  }
  /* nav main div starts here  */

  .main-div {
    width: 100%;
  }

  .main-image {
    width: 50%;
  }

  .image{
    width: 200px;
  }

  .quality {
    width: 100%;
  }

  .q-heading {
    width: 60%;
  }

  .a-2,
  .hire-me {
    width: 100%;
  }

  /* hello section starts here  */

  .hello {
    width: 100%;
  }

  .statistics {
    width: 1150px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 10px;
    margin-bottom: 40px;
  }

  /* .teammates section starts here  */

  .teammates-para {
    margin-top: 20px;
    padding: 20px;
  }

  .project * {
    width: 100%;
    height: auto;
  }

  .faq {
    width: 100%;
  }

  #news {
    width: 100%;
  }

  .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
  }

  .cards {
    width: 80%;
    row-gap: 50px;
  }

  .c-1,
  .c-2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .c-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    row-gap: 50px;
    color: white;
    padding-left: 90px;
  }

  .c-1-call{
    font-size: 15px;
  }
}
